<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-schemes-details-heading"
        data-cy="SchemesDetailsCreateUpdateHeading"
        jhiTranslate="loanOrignationSystemApp.schemesDetails.home.createOrEditLabel"
      >
        Create or edit a Schemes Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.fdDurationDays" for="field_fdDurationDays"
            >Fd Duration Days</label
          >
          <input
            type="number"
            class="form-control"
            name="fdDurationDays"
            id="field_fdDurationDays"
            data-cy="fdDurationDays"
            formControlName="fdDurationDays"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.interest" for="field_interest">Interest</label>
          <input type="number" class="form-control" name="interest" id="field_interest" data-cy="interest" formControlName="interest" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.lockInPeriod" for="field_lockInPeriod"
            >Lock In Period</label
          >
          <input
            type="number"
            class="form-control"
            name="lockInPeriod"
            id="field_lockInPeriod"
            data-cy="lockInPeriod"
            formControlName="lockInPeriod"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.schemeName" for="field_schemeName"
            >Scheme Name</label
          >
          <input
            type="text"
            class="form-control"
            name="schemeName"
            id="field_schemeName"
            data-cy="schemeName"
            formControlName="schemeName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.rdDurationMonths" for="field_rdDurationMonths"
            >Rd Duration Months</label
          >
          <input
            type="number"
            class="form-control"
            name="rdDurationMonths"
            id="field_rdDurationMonths"
            data-cy="rdDurationMonths"
            formControlName="rdDurationMonths"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.reinvestInterest" for="field_reinvestInterest"
            >Reinvest Interest</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="reinvestInterest"
            id="field_reinvestInterest"
            data-cy="reinvestInterest"
            formControlName="reinvestInterest"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.minAmount" for="field_minAmount">Min Amount</label>
          <input type="number" class="form-control" name="minAmount" id="field_minAmount" data-cy="minAmount" formControlName="minAmount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.lastDayOfScheam" for="field_lastDayOfScheam"
            >Last Day Of Scheam</label
          >
          <div class="d-flex">
            <input
              id="field_lastDayOfScheam"
              data-cy="lastDayOfScheam"
              type="datetime-local"
              class="form-control"
              name="lastDayOfScheam"
              formControlName="lastDayOfScheam"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.isDeleted" for="field_isDeleted">Is Deleted</label>
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.freeField1" for="field_freeField1"
            >Free Field 1</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.freeField2" for="field_freeField2"
            >Free Field 2</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.freeField3" for="field_freeField3"
            >Free Field 3</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.freeField4" for="field_freeField4"
            >Free Field 4</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField4"
            id="field_freeField4"
            data-cy="freeField4"
            formControlName="freeField4"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.freeField5" for="field_freeField5"
            >Free Field 5</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField5"
            id="field_freeField5"
            data-cy="freeField5"
            formControlName="freeField5"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.schemesDetails.organisation" for="field_organisation"
            >Organisation</label
          >
          <select
            class="form-control"
            id="field_organisation"
            data-cy="organisation"
            name="organisation"
            formControlName="organisation"
            [compareWith]="compareOrganisation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="organisationOption" *ngFor="let organisationOption of organisationsSharedCollection">
              {{ organisationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
