<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="declearation">
      <h2 data-cy="declearationDetailsHeading">
        <span jhiTranslate="loanOrignationSystemApp.declearation.detail.title">Declearation</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ declearation.id }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.tiltle">Tiltle</span></dt>
        <dd>
          <span>{{ declearation.tiltle }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'loanOrignationSystemApp.DeclearationType.' + declearation.type }}">{{ declearation.type }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.description">Description</span></dt>
        <dd>
          <span>{{ declearation.description }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.tag">Tag</span></dt>
        <dd>
          <span>{{ declearation.tag }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.subType">Sub Type</span></dt>
        <dd>
          <span>{{ declearation.subType }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ declearation.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ declearation.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.createdBy">Created By</span></dt>
        <dd>
          <span>{{ declearation.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.createdOn">Created On</span></dt>
        <dd>
          <span>{{ declearation.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ declearation.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ declearation.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ declearation.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ declearation.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.freeField4">Free Field 4</span></dt>
        <dd>
          <span>{{ declearation.freeField4 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.declearation.organisation">Organisation</span></dt>
        <dd>
          <div *ngIf="declearation.organisation">
            <a [routerLink]="['/organisation', declearation.organisation.id, 'view']">{{ declearation.organisation.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/declearation', declearation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
