<div>
  <h2 id="page-heading" data-cy="NomineeHeading">
    <span jhiTranslate="loanOrignationSystemApp.nominee.home.title">Nominees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="loanOrignationSystemApp.nominee.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nominee"
        [routerLink]="['/nominee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="loanOrignationSystemApp.nominee.home.createLabel"> Create a new Nominee </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="nominees?.length === 0">
    <span jhiTranslate="loanOrignationSystemApp.nominee.home.notFound">No Nominees found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="nominees && nominees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fatherName">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.fatherName">Father Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="motherName">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.motherName">Mother Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="guardianName">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.guardianName">Guardian Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gender">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.gender">Gender</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dob">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.dob">Dob</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="aadharCard">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.aadharCard">Aadhar Card</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomineeDeclareDate">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.nomineeDeclareDate">Nominee Declare Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="relation">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.relation">Relation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="permanentAddr">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.permanentAddr">Permanent Addr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomineePercentage">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.nomineePercentage">Nominee Percentage</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.createdOn">Created On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.isActive">Is Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.isDeleted">Is Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.freeField2">Free Field 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.freeField3">Free Field 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField4">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.freeField4">Free Field 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="member.id">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.nominee.member">Member</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nominee of nominees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nominee', nominee.id, 'view']">{{ nominee.id }}</a>
          </td>
          <td>{{ nominee.firstName }}</td>
          <td>{{ nominee.lastName }}</td>
          <td>{{ nominee.fatherName }}</td>
          <td>{{ nominee.motherName }}</td>
          <td>{{ nominee.guardianName }}</td>
          <td>{{ nominee.gender }}</td>
          <td>{{ nominee.dob | formatMediumDate }}</td>
          <td>{{ nominee.aadharCard }}</td>
          <td>{{ nominee.nomineeDeclareDate | formatMediumDatetime }}</td>
          <td>{{ nominee.relation }}</td>
          <td>{{ nominee.permanentAddr }}</td>
          <td>{{ nominee.nomineePercentage }}</td>
          <td>{{ nominee.lastModified | formatMediumDatetime }}</td>
          <td>{{ nominee.lastModifiedBy }}</td>
          <td>{{ nominee.createdBy }}</td>
          <td>{{ nominee.createdOn | formatMediumDatetime }}</td>
          <td>{{ nominee.isActive }}</td>
          <td>{{ nominee.isDeleted }}</td>
          <td>{{ nominee.freeField1 }}</td>
          <td>{{ nominee.freeField2 }}</td>
          <td>{{ nominee.freeField3 }}</td>
          <td>{{ nominee.freeField4 }}</td>
          <td>
            <div *ngIf="nominee.member">
              <a [routerLink]="['/member', nominee.member.id, 'view']">{{ nominee.member.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/nominee', nominee.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nominee', nominee.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nominee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="nominees && nominees.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
