<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-amortization-details-heading"
        data-cy="AmortizationDetailsCreateUpdateHeading"
        jhiTranslate="loanOrignationSystemApp.amortizationDetails.home.createOrEditLabel"
      >
        Create or edit a Amortization Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.installmentDate" for="field_installmentDate"
            >Installment Date</label
          >
          <div class="d-flex">
            <input
              id="field_installmentDate"
              data-cy="installmentDate"
              type="datetime-local"
              class="form-control"
              name="installmentDate"
              formControlName="installmentDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="loanOrignationSystemApp.amortizationDetails.totalOutstandingPrincipleAmt"
            for="field_totalOutstandingPrincipleAmt"
            >Total Outstanding Principle Amt</label
          >
          <input
            type="number"
            class="form-control"
            name="totalOutstandingPrincipleAmt"
            id="field_totalOutstandingPrincipleAmt"
            data-cy="totalOutstandingPrincipleAmt"
            formControlName="totalOutstandingPrincipleAmt"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="loanOrignationSystemApp.amortizationDetails.totalOutstandngInterestAmt"
            for="field_totalOutstandngInterestAmt"
            >Total Outstandng Interest Amt</label
          >
          <input
            type="number"
            class="form-control"
            name="totalOutstandngInterestAmt"
            id="field_totalOutstandngInterestAmt"
            data-cy="totalOutstandngInterestAmt"
            formControlName="totalOutstandngInterestAmt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.paidPrincipleAmt" for="field_paidPrincipleAmt"
            >Paid Principle Amt</label
          >
          <input
            type="number"
            class="form-control"
            name="paidPrincipleAmt"
            id="field_paidPrincipleAmt"
            data-cy="paidPrincipleAmt"
            formControlName="paidPrincipleAmt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.paidInterestAmt" for="field_paidInterestAmt"
            >Paid Interest Amt</label
          >
          <input
            type="number"
            class="form-control"
            name="paidInterestAmt"
            id="field_paidInterestAmt"
            data-cy="paidInterestAmt"
            formControlName="paidInterestAmt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.balPrincipleAmt" for="field_balPrincipleAmt"
            >Bal Principle Amt</label
          >
          <input
            type="number"
            class="form-control"
            name="balPrincipleAmt"
            id="field_balPrincipleAmt"
            data-cy="balPrincipleAmt"
            formControlName="balPrincipleAmt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.balInterestAmt" for="field_balInterestAmt"
            >Bal Interest Amt</label
          >
          <input
            type="number"
            class="form-control"
            name="balInterestAmt"
            id="field_balInterestAmt"
            data-cy="balInterestAmt"
            formControlName="balInterestAmt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.loanEmiAmt" for="field_loanEmiAmt"
            >Loan Emi Amt</label
          >
          <input
            type="number"
            class="form-control"
            name="loanEmiAmt"
            id="field_loanEmiAmt"
            data-cy="loanEmiAmt"
            formControlName="loanEmiAmt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.principleEMI" for="field_principleEMI"
            >Principle EMI</label
          >
          <input
            type="number"
            class="form-control"
            name="principleEMI"
            id="field_principleEMI"
            data-cy="principleEMI"
            formControlName="principleEMI"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.roi" for="field_roi">Roi</label>
          <input type="number" class="form-control" name="roi" id="field_roi" data-cy="roi" formControlName="roi" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.paymentStatus" for="field_paymentStatus"
            >Payment Status</label
          >
          <input
            type="text"
            class="form-control"
            name="paymentStatus"
            id="field_paymentStatus"
            data-cy="paymentStatus"
            formControlName="paymentStatus"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.year" for="field_year">Year</label>
          <input type="text" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.freeField1" for="field_freeField1"
            >Free Field 1</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.freeField2" for="field_freeField2"
            >Free Field 2</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.freeField3" for="field_freeField3"
            >Free Field 3</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.freeField4" for="field_freeField4"
            >Free Field 4</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField4"
            id="field_freeField4"
            data-cy="freeField4"
            formControlName="freeField4"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.freeField5" for="field_freeField5"
            >Free Field 5</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField5"
            id="field_freeField5"
            data-cy="freeField5"
            formControlName="freeField5"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.freeField6" for="field_freeField6"
            >Free Field 6</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField6"
            id="field_freeField6"
            data-cy="freeField6"
            formControlName="freeField6"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.amortizationDetails.loanAccount" for="field_loanAccount"
            >Loan Account</label
          >
          <select
            class="form-control"
            id="field_loanAccount"
            data-cy="loanAccount"
            name="loanAccount"
            formControlName="loanAccount"
            [compareWith]="compareLoanAccount"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="loanAccountOption" *ngFor="let loanAccountOption of loanAccountsSharedCollection">
              {{ loanAccountOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
