<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-loan-account-heading"
        data-cy="LoanAccountCreateUpdateHeading"
        jhiTranslate="loanOrignationSystemApp.loanAccount.home.createOrEditLabel"
      >
        Create or edit a Loan Account
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.loanAmount" for="field_loanAmount">Loan Amount</label>
          <input
            type="number"
            class="form-control"
            name="loanAmount"
            id="field_loanAmount"
            data-cy="loanAmount"
            formControlName="loanAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.applicationNo" for="field_applicationNo"
            >Application No</label
          >
          <input
            type="text"
            class="form-control"
            name="applicationNo"
            id="field_applicationNo"
            data-cy="applicationNo"
            formControlName="applicationNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'loanOrignationSystemApp.LoanStatus.null' | translate }}</option>
            <option *ngFor="let loanStatus of loanStatusValues" [value]="loanStatus">
              {{ 'loanOrignationSystemApp.LoanStatus.' + loanStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.loanStartDate" for="field_loanStartDate"
            >Loan Start Date</label
          >
          <div class="d-flex">
            <input
              id="field_loanStartDate"
              data-cy="loanStartDate"
              type="datetime-local"
              class="form-control"
              name="loanStartDate"
              formControlName="loanStartDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.loanEndDate" for="field_loanEndDate"
            >Loan End Date</label
          >
          <div class="d-flex">
            <input
              id="field_loanEndDate"
              data-cy="loanEndDate"
              type="datetime-local"
              class="form-control"
              name="loanEndDate"
              formControlName="loanEndDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="loanOrignationSystemApp.loanAccount.loanPlannedClosureDate"
            for="field_loanPlannedClosureDate"
            >Loan Planned Closure Date</label
          >
          <div class="d-flex">
            <input
              id="field_loanPlannedClosureDate"
              data-cy="loanPlannedClosureDate"
              type="datetime-local"
              class="form-control"
              name="loanPlannedClosureDate"
              formControlName="loanPlannedClosureDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.loanCloserDate" for="field_loanCloserDate"
            >Loan Closer Date</label
          >
          <div class="d-flex">
            <input
              id="field_loanCloserDate"
              data-cy="loanCloserDate"
              type="datetime-local"
              class="form-control"
              name="loanCloserDate"
              formControlName="loanCloserDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.emiStartDate" for="field_emiStartDate"
            >Emi Start Date</label
          >
          <div class="d-flex">
            <input
              id="field_emiStartDate"
              data-cy="emiStartDate"
              type="datetime-local"
              class="form-control"
              name="emiStartDate"
              formControlName="emiStartDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.loanNpaClass" for="field_loanNpaClass"
            >Loan Npa Class</label
          >
          <select class="form-control" name="loanNpaClass" formControlName="loanNpaClass" id="field_loanNpaClass" data-cy="loanNpaClass">
            <option [ngValue]="null">{{ 'loanOrignationSystemApp.NpaClassification.null' | translate }}</option>
            <option *ngFor="let npaClassification of npaClassificationValues" [value]="npaClassification">
              {{ 'loanOrignationSystemApp.NpaClassification.' + npaClassification | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.parentAccHeadCode" for="field_parentAccHeadCode"
            >Parent Acc Head Code</label
          >
          <input
            type="text"
            class="form-control"
            name="parentAccHeadCode"
            id="field_parentAccHeadCode"
            data-cy="parentAccHeadCode"
            formControlName="parentAccHeadCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.loanAccountName" for="field_loanAccountName"
            >Loan Account Name</label
          >
          <input
            type="text"
            class="form-control"
            name="loanAccountName"
            id="field_loanAccountName"
            data-cy="loanAccountName"
            formControlName="loanAccountName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.disbursementAmt" for="field_disbursementAmt"
            >Disbursement Amt</label
          >
          <input
            type="number"
            class="form-control"
            name="disbursementAmt"
            id="field_disbursementAmt"
            data-cy="disbursementAmt"
            formControlName="disbursementAmt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.disbursementStatus" for="field_disbursementStatus"
            >Disbursement Status</label
          >
          <input
            type="text"
            class="form-control"
            name="disbursementStatus"
            id="field_disbursementStatus"
            data-cy="disbursementStatus"
            formControlName="disbursementStatus"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.repaymentPeriod" for="field_repaymentPeriod"
            >Repayment Period</label
          >
          <input
            type="text"
            class="form-control"
            name="repaymentPeriod"
            id="field_repaymentPeriod"
            data-cy="repaymentPeriod"
            formControlName="repaymentPeriod"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.year" for="field_year">Year</label>
          <input type="text" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.processingFee" for="field_processingFee"
            >Processing Fee</label
          >
          <input
            type="number"
            class="form-control"
            name="processingFee"
            id="field_processingFee"
            data-cy="processingFee"
            formControlName="processingFee"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.moratorium" for="field_moratorium">Moratorium</label>
          <input
            type="text"
            class="form-control"
            name="moratorium"
            id="field_moratorium"
            data-cy="moratorium"
            formControlName="moratorium"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.roi" for="field_roi">Roi</label>
          <input type="number" class="form-control" name="roi" id="field_roi" data-cy="roi" formControlName="roi" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.freeField1" for="field_freeField1"
            >Free Field 1</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.freeField2" for="field_freeField2"
            >Free Field 2</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.freeField3" for="field_freeField3"
            >Free Field 3</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.freeField4" for="field_freeField4"
            >Free Field 4</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField4"
            id="field_freeField4"
            data-cy="freeField4"
            formControlName="freeField4"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.freeField5" for="field_freeField5"
            >Free Field 5</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField5"
            id="field_freeField5"
            data-cy="freeField5"
            formControlName="freeField5"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.freeField6" for="field_freeField6"
            >Free Field 6</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField6"
            id="field_freeField6"
            data-cy="freeField6"
            formControlName="freeField6"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.loanApplications" for="field_loanApplications"
            >Loan Applications</label
          >
          <select
            class="form-control"
            id="field_loanApplications"
            data-cy="loanApplications"
            name="loanApplications"
            formControlName="loanApplications"
            [compareWith]="compareLoanApplications"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="loanApplicationsOption" *ngFor="let loanApplicationsOption of loanApplicationsSharedCollection">
              {{ loanApplicationsOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.member" for="field_member">Member</label>
          <select
            class="form-control"
            id="field_member"
            data-cy="member"
            name="member"
            formControlName="member"
            [compareWith]="compareMember"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="memberOption" *ngFor="let memberOption of membersSharedCollection">{{ memberOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.loanAccount.product" for="field_product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="productOption" *ngFor="let productOption of productsSharedCollection">{{ productOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
