<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vouchers">
      <h2 data-cy="vouchersDetailsHeading"><span jhiTranslate="loanOrignationSystemApp.vouchers.detail.title">Vouchers</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vouchers.id }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.voucherDate">Voucher Date</span></dt>
        <dd>
          <span>{{ vouchers.voucherDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.voucherNo">Voucher No</span></dt>
        <dd>
          <span>{{ vouchers.voucherNo }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.preparedBy">Prepared By</span></dt>
        <dd>
          <span>{{ vouchers.preparedBy }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.code">Code</span></dt>
        <dd>
          <span jhiTranslate="{{ 'loanOrignationSystemApp.VoucherCode.' + vouchers.code }}">{{ vouchers.code }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.narration">Narration</span></dt>
        <dd>
          <span>{{ vouchers.narration }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.authorisedBy">Authorised By</span></dt>
        <dd>
          <span>{{ vouchers.authorisedBy }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.mode">Mode</span></dt>
        <dd>
          <span jhiTranslate="{{ 'loanOrignationSystemApp.PaymentMode.' + vouchers.mode }}">{{ vouchers.mode }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ vouchers.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ vouchers.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ vouchers.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ vouchers.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ vouchers.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ vouchers.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.freeField4">Free Field 4</span></dt>
        <dd>
          <span>{{ vouchers.freeField4 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.freeField5">Free Field 5</span></dt>
        <dd>
          <span>{{ vouchers.freeField5 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.vouchers.freeField6">Free Field 6</span></dt>
        <dd>
          <span>{{ vouchers.freeField6 }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vouchers', vouchers.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
