<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-epay-heading" data-cy="EpayCreateUpdateHeading" jhiTranslate="loanOrignationSystemApp.epay.home.createOrEditLabel">
        Create or edit a Epay
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.instrumentType" for="field_instrumentType"
            >Instrument Type</label
          >
          <input
            type="text"
            class="form-control"
            name="instrumentType"
            id="field_instrumentType"
            data-cy="instrumentType"
            formControlName="instrumentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.dtFromDate" for="field_dtFromDate">Dt From Date</label>
          <div class="input-group">
            <input
              id="field_dtFromDate"
              data-cy="dtFromDate"
              type="text"
              class="form-control"
              name="dtFromDate"
              ngbDatepicker
              #dtFromDateDp="ngbDatepicker"
              formControlName="dtFromDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dtFromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.dtToDate" for="field_dtToDate">Dt To Date</label>
          <div class="input-group">
            <input
              id="field_dtToDate"
              data-cy="dtToDate"
              type="text"
              class="form-control"
              name="dtToDate"
              ngbDatepicker
              #dtToDateDp="ngbDatepicker"
              formControlName="dtToDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dtToDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.bankCode" for="field_bankCode">Bank Code</label>
          <input type="text" class="form-control" name="bankCode" id="field_bankCode" data-cy="bankCode" formControlName="bankCode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.bankBranchCode" for="field_bankBranchCode"
            >Bank Branch Code</label
          >
          <input
            type="text"
            class="form-control"
            name="bankBranchCode"
            id="field_bankBranchCode"
            data-cy="bankBranchCode"
            formControlName="bankBranchCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.accountType" for="field_accountType">Account Type</label>
          <input
            type="text"
            class="form-control"
            name="accountType"
            id="field_accountType"
            data-cy="accountType"
            formControlName="accountType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.accountNo" for="field_accountNo">Account No</label>
          <input type="text" class="form-control" name="accountNo" id="field_accountNo" data-cy="accountNo" formControlName="accountNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.maxCeilAmount" for="field_maxCeilAmount"
            >Max Ceil Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="maxCeilAmount"
            id="field_maxCeilAmount"
            data-cy="maxCeilAmount"
            formControlName="maxCeilAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.installmentAmount" for="field_installmentAmount"
            >Installment Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="installmentAmount"
            id="field_installmentAmount"
            data-cy="installmentAmount"
            formControlName="installmentAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.maxInstallmentAmount" for="field_maxInstallmentAmount"
            >Max Installment Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="maxInstallmentAmount"
            id="field_maxInstallmentAmount"
            data-cy="maxInstallmentAmount"
            formControlName="maxInstallmentAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.mandateRefNo" for="field_mandateRefNo">Mandate Ref No</label>
          <input
            type="text"
            class="form-control"
            name="mandateRefNo"
            id="field_mandateRefNo"
            data-cy="mandateRefNo"
            formControlName="mandateRefNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.depositBank" for="field_depositBank">Deposit Bank</label>
          <input
            type="text"
            class="form-control"
            name="depositBank"
            id="field_depositBank"
            data-cy="depositBank"
            formControlName="depositBank"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.mandateType" for="field_mandateType">Mandate Type</label>
          <input
            type="text"
            class="form-control"
            name="mandateType"
            id="field_mandateType"
            data-cy="mandateType"
            formControlName="mandateType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.frequency" for="field_frequency">Frequency</label>
          <select class="form-control" name="frequency" formControlName="frequency" id="field_frequency" data-cy="frequency">
            <option [ngValue]="null">{{ 'loanOrignationSystemApp.RepaymentFreqency.null' | translate }}</option>
            <option *ngFor="let repaymentFreqency of repaymentFreqencyValues" [value]="repaymentFreqency">
              {{ 'loanOrignationSystemApp.RepaymentFreqency.' + repaymentFreqency | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.ifscCode" for="field_ifscCode">Ifsc Code</label>
          <input type="text" class="form-control" name="ifscCode" id="field_ifscCode" data-cy="ifscCode" formControlName="ifscCode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.utrNo" for="field_utrNo">Utr No</label>
          <input type="text" class="form-control" name="utrNo" id="field_utrNo" data-cy="utrNo" formControlName="utrNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.isDeleted" for="field_isDeleted">Is Deleted</label>
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.lastModified" for="field_lastModified">Last Modified</label>
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.freeField1" for="field_freeField1">Free Field 1</label>
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.freeField2" for="field_freeField2">Free Field 2</label>
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.freeField3" for="field_freeField3">Free Field 3</label>
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.epay.freeField4" for="field_freeField4">Free Field 4</label>
          <input
            type="text"
            class="form-control"
            name="freeField4"
            id="field_freeField4"
            data-cy="freeField4"
            formControlName="freeField4"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
