<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="loanDisbursement">
      <h2 data-cy="loanDisbursementDetailsHeading">
        <span jhiTranslate="loanOrignationSystemApp.loanDisbursement.detail.title">Loan Disbursement</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ loanDisbursement.id }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.dtDisbDate">Dt Disb Date</span></dt>
        <dd>
          <span>{{ loanDisbursement.dtDisbDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.accountNo">Account No</span></dt>
        <dd>
          <span>{{ loanDisbursement.accountNo }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.ifscCode">Ifsc Code</span></dt>
        <dd>
          <span>{{ loanDisbursement.ifscCode }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.disbAmount">Disb Amount</span></dt>
        <dd>
          <span>{{ loanDisbursement.disbAmount }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.disbuNumber">Disbu Number</span></dt>
        <dd>
          <span>{{ loanDisbursement.disbuNumber }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.disbursementStatus">Disbursement Status</span></dt>
        <dd>
          <span>{{ loanDisbursement.disbursementStatus }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.paymentMode">Payment Mode</span></dt>
        <dd>
          <span jhiTranslate="{{ 'loanOrignationSystemApp.PaymentMode.' + loanDisbursement.paymentMode }}">{{
            loanDisbursement.paymentMode
          }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.utrNo">Utr No</span></dt>
        <dd>
          <span>{{ loanDisbursement.utrNo }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ loanDisbursement.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ loanDisbursement.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ loanDisbursement.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ loanDisbursement.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ loanDisbursement.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.freeField4">Free Field 4</span></dt>
        <dd>
          <span>{{ loanDisbursement.freeField4 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.freeField5">Free Field 5</span></dt>
        <dd>
          <span>{{ loanDisbursement.freeField5 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.freeField6">Free Field 6</span></dt>
        <dd>
          <span>{{ loanDisbursement.freeField6 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.product">Product</span></dt>
        <dd>
          <div *ngIf="loanDisbursement.product">
            <a [routerLink]="['/product', loanDisbursement.product.id, 'view']">{{ loanDisbursement.product.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.securityUser">Security User</span></dt>
        <dd>
          <div *ngIf="loanDisbursement.securityUser">
            <a [routerLink]="['/security-user', loanDisbursement.securityUser.id, 'view']">{{ loanDisbursement.securityUser.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanDisbursement.loanAccount">Loan Account</span></dt>
        <dd>
          <div *ngIf="loanDisbursement.loanAccount">
            <a [routerLink]="['/loan-account', loanDisbursement.loanAccount.id, 'view']">{{ loanDisbursement.loanAccount.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/loan-disbursement', loanDisbursement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
