<div>
  <h2 id="page-heading" data-cy="IncomeDetailsHeading">
    <span jhiTranslate="loanOrignationSystemApp.incomeDetails.home.title">Income Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="loanOrignationSystemApp.incomeDetails.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-income-details"
        [routerLink]="['/income-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="loanOrignationSystemApp.incomeDetails.home.createLabel"> Create a new Income Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="incomeDetails?.length === 0">
    <span jhiTranslate="loanOrignationSystemApp.incomeDetails.home.notFound">No Income Details found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="incomeDetails && incomeDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="year">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.year">Year</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="grossIncome">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.grossIncome">Gross Income</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expenses">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.expenses">Expenses</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="netIncome">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.netIncome">Net Income</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paidTaxes">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.paidTaxes">Paid Taxes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cashSurplus">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.cashSurplus">Cash Surplus</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="incomeType">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.incomeType">Income Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.isDeleted">Is Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.createdOn">Created On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.freeField2">Free Field 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.freeField3">Free Field 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField4">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.freeField4">Free Field 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField5">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.freeField5">Free Field 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField6">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.freeField6">Free Field 6</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="member.id">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.incomeDetails.member">Member</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incomeDetails of incomeDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/income-details', incomeDetails.id, 'view']">{{ incomeDetails.id }}</a>
          </td>
          <td>{{ incomeDetails.year }}</td>
          <td>{{ incomeDetails.grossIncome }}</td>
          <td>{{ incomeDetails.expenses }}</td>
          <td>{{ incomeDetails.netIncome }}</td>
          <td>{{ incomeDetails.paidTaxes }}</td>
          <td>{{ incomeDetails.cashSurplus }}</td>
          <td jhiTranslate="{{ 'loanOrignationSystemApp.IncomeType.' + incomeDetails.incomeType }}">{{ incomeDetails.incomeType }}</td>
          <td>{{ incomeDetails.isDeleted }}</td>
          <td>{{ incomeDetails.lastModified | formatMediumDatetime }}</td>
          <td>{{ incomeDetails.lastModifiedBy }}</td>
          <td>{{ incomeDetails.createdBy }}</td>
          <td>{{ incomeDetails.createdOn | formatMediumDatetime }}</td>
          <td>{{ incomeDetails.freeField1 }}</td>
          <td>{{ incomeDetails.freeField2 }}</td>
          <td>{{ incomeDetails.freeField3 }}</td>
          <td>{{ incomeDetails.freeField4 }}</td>
          <td>{{ incomeDetails.freeField5 }}</td>
          <td>{{ incomeDetails.freeField6 }}</td>
          <td>
            <div *ngIf="incomeDetails.member">
              <a [routerLink]="['/member', incomeDetails.member.id, 'view']">{{ incomeDetails.member.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/income-details', incomeDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/income-details', incomeDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(incomeDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="incomeDetails && incomeDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
