<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-member-existingfacility-heading"
        data-cy="MemberExistingfacilityCreateUpdateHeading"
        jhiTranslate="loanOrignationSystemApp.memberExistingfacility.home.createOrEditLabel"
      >
        Create or edit a Member Existingfacility
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.year" for="field_year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.facilityName" for="field_facilityName"
            >Facility Name</label
          >
          <input
            type="text"
            class="form-control"
            name="facilityName"
            id="field_facilityName"
            data-cy="facilityName"
            formControlName="facilityName"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="loanOrignationSystemApp.memberExistingfacility.facilitatedFrom"
            for="field_facilitatedFrom"
            >Facilitated From</label
          >
          <input
            type="text"
            class="form-control"
            name="facilitatedFrom"
            id="field_facilitatedFrom"
            data-cy="facilitatedFrom"
            formControlName="facilitatedFrom"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.nature" for="field_nature">Nature</label>
          <input type="text" class="form-control" name="nature" id="field_nature" data-cy="nature" formControlName="nature" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.amtInLac" for="field_amtInLac"
            >Amt In Lac</label
          >
          <input type="number" class="form-control" name="amtInLac" id="field_amtInLac" data-cy="amtInLac" formControlName="amtInLac" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.purpose" for="field_purpose"
            >Purpose</label
          >
          <input type="text" class="form-control" name="purpose" id="field_purpose" data-cy="purpose" formControlName="purpose" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.sectionDate" for="field_sectionDate"
            >Section Date</label
          >
          <div class="d-flex">
            <input
              id="field_sectionDate"
              data-cy="sectionDate"
              type="datetime-local"
              class="form-control"
              name="sectionDate"
              formControlName="sectionDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="loanOrignationSystemApp.memberExistingfacility.outstandingInLac"
            for="field_outstandingInLac"
            >Outstanding In Lac</label
          >
          <input
            type="number"
            class="form-control"
            name="outstandingInLac"
            id="field_outstandingInLac"
            data-cy="outstandingInLac"
            formControlName="outstandingInLac"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'loanOrignationSystemApp.FacilityStatus.null' | translate }}</option>
            <option *ngFor="let facilityStatus of facilityStatusValues" [value]="facilityStatus">
              {{ 'loanOrignationSystemApp.FacilityStatus.' + facilityStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.rating" for="field_rating">Rating</label>
          <select class="form-control" name="rating" formControlName="rating" id="field_rating" data-cy="rating">
            <option [ngValue]="null">{{ 'loanOrignationSystemApp.CreditRating.null' | translate }}</option>
            <option *ngFor="let creditRating of creditRatingValues" [value]="creditRating">
              {{ 'loanOrignationSystemApp.CreditRating.' + creditRating | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.isDeleted" for="field_isDeleted"
            >Is Deleted</label
          >
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.createdBy" for="field_createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.createdOn" for="field_createdOn"
            >Created On</label
          >
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.freeField1" for="field_freeField1"
            >Free Field 1</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.freeField2" for="field_freeField2"
            >Free Field 2</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.freeField3" for="field_freeField3"
            >Free Field 3</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.freeField4" for="field_freeField4"
            >Free Field 4</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField4"
            id="field_freeField4"
            data-cy="freeField4"
            formControlName="freeField4"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.freeField5" for="field_freeField5"
            >Free Field 5</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField5"
            id="field_freeField5"
            data-cy="freeField5"
            formControlName="freeField5"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.freeField6" for="field_freeField6"
            >Free Field 6</label
          >
          <input
            type="text"
            class="form-control"
            name="freeField6"
            id="field_freeField6"
            data-cy="freeField6"
            formControlName="freeField6"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="loanOrignationSystemApp.memberExistingfacility.member" for="field_member">Member</label>
          <select
            class="form-control"
            id="field_member"
            data-cy="member"
            name="member"
            formControlName="member"
            [compareWith]="compareMember"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="memberOption" *ngFor="let memberOption of membersSharedCollection">{{ memberOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
