<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="memberBank">
      <h2 data-cy="memberBankDetailsHeading"><span jhiTranslate="loanOrignationSystemApp.memberBank.detail.title">Member Bank</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ memberBank.id }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.bankName">Bank Name</span></dt>
        <dd>
          <span>{{ memberBank.bankName }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.branchName">Branch Name</span></dt>
        <dd>
          <span>{{ memberBank.branchName }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.accountNumber">Account Number</span></dt>
        <dd>
          <span>{{ memberBank.accountNumber }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.accHolderName">Acc Holder Name</span></dt>
        <dd>
          <span>{{ memberBank.accHolderName }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.ifsccode">Ifsccode</span></dt>
        <dd>
          <span>{{ memberBank.ifsccode }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.micrCode">Micr Code</span></dt>
        <dd>
          <span>{{ memberBank.micrCode }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.swiftCode">Swift Code</span></dt>
        <dd>
          <span>{{ memberBank.swiftCode }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ memberBank.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ memberBank.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.createdBy">Created By</span></dt>
        <dd>
          <span>{{ memberBank.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.createdOn">Created On</span></dt>
        <dd>
          <span>{{ memberBank.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.isActive">Is Active</span></dt>
        <dd>
          <span>{{ memberBank.isActive }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ memberBank.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ memberBank.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ memberBank.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ memberBank.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.freeField4">Free Field 4</span></dt>
        <dd>
          <span>{{ memberBank.freeField4 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.freeField5">Free Field 5</span></dt>
        <dd>
          <span>{{ memberBank.freeField5 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.freeField6">Free Field 6</span></dt>
        <dd>
          <span>{{ memberBank.freeField6 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.memberBank.member">Member</span></dt>
        <dd>
          <div *ngIf="memberBank.member">
            <a [routerLink]="['/member', memberBank.member.id, 'view']">{{ memberBank.member.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/member-bank', memberBank.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
