<div>
  <h2 id="page-heading" data-cy="MemberAssetsHeading">
    <span jhiTranslate="loanOrignationSystemApp.memberAssets.home.title">Member Assets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="loanOrignationSystemApp.memberAssets.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-member-assets"
        [routerLink]="['/member-assets/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="loanOrignationSystemApp.memberAssets.home.createLabel"> Create a new Member Assets </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="memberAssets?.length === 0">
    <span jhiTranslate="loanOrignationSystemApp.memberAssets.home.notFound">No Member Assets found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="memberAssets && memberAssets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetCost">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.assetCost">Asset Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetType">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.assetType">Asset Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="areaInSqFt">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.areaInSqFt">Area In Sq Ft</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetNature">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.assetNature">Asset Nature</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="landMark">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.landMark">Land Mark</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="assetOwner">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.assetOwner">Asset Owner</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="completionYear">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.completionYear">Completion Year</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="marketValue">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.marketValue">Market Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isInsured">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.isInsured">Is Insured</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isUnderUsed">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.isUnderUsed">Is Under Used</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isOwned">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.isOwned">Is Owned</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="landType">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.landType">Land Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="landGatNo">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.landGatNo">Land Gat No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="landAreaInHector">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.landAreaInHector">Land Area In Hector</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jindagiPatrakNo">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.jindagiPatrakNo">Jindagi Patrak No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jindagiAmount">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.jindagiAmount">Jindagi Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.createdOn">Created On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.isDeleted">Is Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.freeField2">Free Field 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.freeField3">Free Field 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField4">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.freeField4">Free Field 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField5">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.freeField5">Free Field 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField6">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.freeField6">Free Field 6</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="member.id">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.member">Member</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanApplications.id">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.memberAssets.loanApplications">Loan Applications</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let memberAssets of memberAssets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/member-assets', memberAssets.id, 'view']">{{ memberAssets.id }}</a>
          </td>
          <td>{{ memberAssets.assetCost }}</td>
          <td jhiTranslate="{{ 'loanOrignationSystemApp.AssetType.' + memberAssets.assetType }}">{{ memberAssets.assetType }}</td>
          <td>{{ memberAssets.areaInSqFt }}</td>
          <td jhiTranslate="{{ 'loanOrignationSystemApp.AssetNature.' + memberAssets.assetNature }}">{{ memberAssets.assetNature }}</td>
          <td>{{ memberAssets.address }}</td>
          <td>{{ memberAssets.landMark }}</td>
          <td>{{ memberAssets.assetOwner }}</td>
          <td>{{ memberAssets.completionYear }}</td>
          <td>{{ memberAssets.marketValue }}</td>
          <td>{{ memberAssets.isInsured }}</td>
          <td>{{ memberAssets.isUnderUsed }}</td>
          <td>{{ memberAssets.isOwned }}</td>
          <td>{{ memberAssets.landType }}</td>
          <td>{{ memberAssets.landGatNo }}</td>
          <td>{{ memberAssets.landAreaInHector }}</td>
          <td>{{ memberAssets.jindagiPatrakNo }}</td>
          <td>{{ memberAssets.jindagiAmount }}</td>
          <td>{{ memberAssets.lastModified | formatMediumDatetime }}</td>
          <td>{{ memberAssets.lastModifiedBy }}</td>
          <td>{{ memberAssets.createdBy }}</td>
          <td>{{ memberAssets.createdOn | formatMediumDatetime }}</td>
          <td>{{ memberAssets.isDeleted }}</td>
          <td>{{ memberAssets.freeField1 }}</td>
          <td>{{ memberAssets.freeField2 }}</td>
          <td>{{ memberAssets.freeField3 }}</td>
          <td>{{ memberAssets.freeField4 }}</td>
          <td>{{ memberAssets.freeField5 }}</td>
          <td>{{ memberAssets.freeField6 }}</td>
          <td>
            <div *ngIf="memberAssets.member">
              <a [routerLink]="['/member', memberAssets.member.id, 'view']">{{ memberAssets.member.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="memberAssets.loanApplications">
              <a [routerLink]="['/loan-applications', memberAssets.loanApplications.id, 'view']">{{ memberAssets.loanApplications.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/member-assets', memberAssets.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/member-assets', memberAssets.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(memberAssets)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="memberAssets && memberAssets.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
