<div>
  <h2 id="page-heading" data-cy="VouchersHeading">
    <span jhiTranslate="loanOrignationSystemApp.vouchers.home.title">Vouchers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="loanOrignationSystemApp.vouchers.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vouchers"
        [routerLink]="['/vouchers/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="loanOrignationSystemApp.vouchers.home.createLabel"> Create a new Vouchers </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="vouchers?.length === 0">
    <span jhiTranslate="loanOrignationSystemApp.vouchers.home.notFound">No Vouchers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="vouchers && vouchers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="voucherDate">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.voucherDate">Voucher Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="voucherNo">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.voucherNo">Voucher No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="preparedBy">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.preparedBy">Prepared By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="narration">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.narration">Narration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="authorisedBy">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.authorisedBy">Authorised By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mode">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.mode">Mode</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.isDeleted">Is Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.freeField2">Free Field 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.freeField3">Free Field 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField4">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.freeField4">Free Field 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField5">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.freeField5">Free Field 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField6">
            <div class="d-flex">
              <span jhiTranslate="loanOrignationSystemApp.vouchers.freeField6">Free Field 6</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vouchers of vouchers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vouchers', vouchers.id, 'view']">{{ vouchers.id }}</a>
          </td>
          <td>{{ vouchers.voucherDate | formatMediumDatetime }}</td>
          <td>{{ vouchers.voucherNo }}</td>
          <td>{{ vouchers.preparedBy }}</td>
          <td jhiTranslate="{{ 'loanOrignationSystemApp.VoucherCode.' + vouchers.code }}">{{ vouchers.code }}</td>
          <td>{{ vouchers.narration }}</td>
          <td>{{ vouchers.authorisedBy }}</td>
          <td jhiTranslate="{{ 'loanOrignationSystemApp.PaymentMode.' + vouchers.mode }}">{{ vouchers.mode }}</td>
          <td>{{ vouchers.isDeleted }}</td>
          <td>{{ vouchers.lastModified | formatMediumDatetime }}</td>
          <td>{{ vouchers.lastModifiedBy }}</td>
          <td>{{ vouchers.freeField1 }}</td>
          <td>{{ vouchers.freeField2 }}</td>
          <td>{{ vouchers.freeField3 }}</td>
          <td>{{ vouchers.freeField4 }}</td>
          <td>{{ vouchers.freeField5 }}</td>
          <td>{{ vouchers.freeField6 }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vouchers', vouchers.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vouchers', vouchers.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vouchers)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vouchers && vouchers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
