<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="loanRepaymentDetails">
      <h2 data-cy="loanRepaymentDetailsDetailsHeading">
        <span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.detail.title">Loan Repayment Details</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.repaymentDate">Repayment Date</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.repaymentDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.totalRepaymentAmt">Total Repayment Amt</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.totalRepaymentAmt }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.installmentNumber">Installment Number</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.installmentNumber }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.principlePaidAmt">Principle Paid Amt</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.principlePaidAmt }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.interestPaidAmt">Interest Paid Amt</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.interestPaidAmt }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.surChargeAmt">Sur Charge Amt</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.surChargeAmt }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.overDueAmt">Over Due Amt</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.overDueAmt }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.balanceInterestAmt">Balance Interest Amt</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.balanceInterestAmt }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.balancePrincipleAmt">Balance Principle Amt</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.balancePrincipleAmt }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.paymentMode">Payment Mode</span></dt>
        <dd>
          <span jhiTranslate="{{ 'loanOrignationSystemApp.PaymentMode.' + loanRepaymentDetails.paymentMode }}">{{
            loanRepaymentDetails.paymentMode
          }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.foreClosureChargeAmt">Fore Closure Charge Amt</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.foreClosureChargeAmt }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.freeField4">Free Field 4</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.freeField4 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.freeField5">Free Field 5</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.freeField5 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.freeField6">Free Field 6</span></dt>
        <dd>
          <span>{{ loanRepaymentDetails.freeField6 }}</span>
        </dd>
        <dt><span jhiTranslate="loanOrignationSystemApp.loanRepaymentDetails.loanAccount">Loan Account</span></dt>
        <dd>
          <div *ngIf="loanRepaymentDetails.loanAccount">
            <a [routerLink]="['/loan-account', loanRepaymentDetails.loanAccount.id, 'view']">{{ loanRepaymentDetails.loanAccount.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/loan-repayment-details', loanRepaymentDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
